


.card {
        height: 320px;
        width: 320px;
        border-radius: 50%;
        background-color:#173B4C;
        margin: 150px auto 0px auto;
        padding: 5px 5px 5px 5px; 
        transition: all 0.2s ease;
        position:relative;
        box-shadow: 2px 2px 10px #333333;

    .card__avatar {
        background-image : url("/moi.jpg");
        background-size: cover;
        height: 265px;
        width: 265px;
        border-radius: 50%;
        margin: 20px auto ;
        transition: all 0.2s ease;
        position:relative;
        top:0px;
        border: 2px solid #173B4C;
        box-shadow: 2px 2px 10px #222222;
        cursor:pointer;

        &:hover {
            transform:scale(1.1);
        }
    }

    .card__content {
        opacity:0;
        position:relative;

    }

    .card__next {
        opacity:0;
        transition: opacity 0.5s ease;
        position:relative;
    }

    .card__github {
        opacity:0;
        position:absolute;
        top: 20px;
        left: -10px;
        width: 10px;
        //background-size : 0px 0px;
        //transition: left 1s cubic-bezier(.52,.01,1,.51);
        transition: all 0.3s cubic-bezier(.52,.01,1,.51);
    }

    .card__linkedin {
        opacity:0;
        top: 75px;
        left: -10px;
        width: 10px;
        //background-size : 0px 0px;
        transition: all 0.3s cubic-bezier(.52,.01,1,.51);
        //transition: left 1s cubic-bezier(.52,.01,1,.51);      
        position:absolute;
    }

  /*   &:hover{
        transform:scale(0.9,0.9);
        .card__avatar {transform:scale(1.1,1.1)}
        .card__github {z-index:-1;}
        .card__linkedin {z-index:-1;}
    } */
}

.card__clicked {
    border-radius: 10px; 
    padding: 0;

    .card__avatar {
        background-image : url("/moi.jpg");
        background-size: cover;
        margin: 0 auto ;
        height: 170px;
        width: 170px;
        border-radius: 50%;
        top:-85px;
        box-shadow: 2px 2px 10px #222222;
        border: 2px solid #173B4C;
    }

  /*   &:hover{
        transform:scale(1,1);
        .card__avatar {transform:scale(1,1)}
    } */

    .card__content {
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        justify-content: flex-start;
        transform:translateY(-70px);
        opacity:1;
        transition: opacity 0.5s ease;

        .card__mobility {
            text-align: center;
            display: block;
            color:white;
            font-family: 'Zilla Slab', serif;
            margin: 1.2rem 0 0.7rem 0;
            font-weight: bold;
        }
        .card__name {
            display: block;
            color:white;
            flex:1;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bold;
            font-size:2rem;
            margin: 1rem 0;
        }
        .card__title {
            display: block;
            color:white;
            flex:1;
            font-family: 'Zilla Slab', serif;
            font-size:1.3rem;
            line-height: 1.2rem;
        }
        .card__next {
            text-align:center;
            padding-top:15px;
            display:block;
            color:white;
            height : 50px;
            width : 50px;
            border : 2px solid white;
            border-radius : 50%;
            opacity:1;
        }

        .card__next:hover {
            transform:scale(1.2,1.2);
            box-shadow: 2px 2px 10px #222222;
            cursor:pointer;
        }

        
    }
    .card__github {
        display:block;
        position:absolute;
        left: -50px;
        background-color: white;
        text-align:right;
        width : 50px;
        height: 50px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 2px 2px 10px #222222;
        opacity:1;
        background-image : url("/github.png");
        background-size : 40px 40px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card__github:hover {
        cursor:pointer;
    }
    

    .card__linkedin {
        display:block;
        position:absolute;
        left: -50px;
        background-color: white;
        text-align:right;
        width : 50px;
        height: 50px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 2px 2px 10px #222222;
        opacity: 1;
        background-image : url("/linkedin.png");
        background-size : 40px 40px;
        background-position: center;
        background-repeat: no-repeat;
    }

   
    
}

