
  

.card {
        height: 320px;
        width: 320px;
        border-radius: 50%;
        background-color:#173B4C;
        margin: 150px auto 0px auto;
        padding: 5px 5px 5px 5px; 
        transition: all 0.2s ease;
        position:relative;
        box-shadow: 2px 2px 10px #333333;

    .card__avatar {
        background-image : url("/moi.jpg");
        background-size: cover;
        height: 265px;
        width: 265px;
        border-radius: 50%;
        margin: 20px auto ;
        transition: all 0.2s ease;
        position:relative;
        top:0px;
        border: 2px solid #173B4C;
        box-shadow: 2px 2px 10px #222222;
        cursor:pointer;

        &:hover {
            transform:scale(1.1);
        }
    }

    .card__content {
        opacity:0;
        position:relative;

    }

    /* .card__next {
        opacity:0;
        transition: opacity 0.5s ease;
        position:relative;
    } */
    .card__tab {
        opacity:0;
        position:absolute;
        bottom: 10px;
        left: 75px;
        height: 10px;
        //background-size : 0px 0px;
        //transition: left 1s cubic-bezier(.52,.01,1,.51);
        transition: all 0.3s cubic-bezier(.52,.01,1,.51);
        &__github{
            left:105px;
            background-image : url("/github.png");
        }
        &__linkedin{
            left:45px;
            background-image : url("/linkedin.png");
        }
        &__work{
            left:165px;
            background-size : 50px 50px;
            background-image : url("/work.png");
        }
        &__education{
            left:225px;
            background-size : 50px 50px;
            background-image : url("/education.png");
        }
    }

    .card__github {
        opacity:0;
        position:absolute;
        bottom: 10px;
        left: 75px;
        height: 10px;
        //background-size : 0px 0px;
        //transition: left 1s cubic-bezier(.52,.01,1,.51);
        transition: all 0.3s cubic-bezier(.52,.01,1,.51);
    }

    .card__linkedin {
        opacity:0;
        bottom: 10px;
        left: 15px;
        width: 10px;
        //background-size : 0px 0px;
        transition: all 0.3s cubic-bezier(.52,.01,1,.51);
        //transition: left 1s cubic-bezier(.52,.01,1,.51);      
        position:absolute;
    }

    .card__cv {
        opacity:0;
        position:absolute;
        bottom: 10px;
        left: 135px;
        height: 10px;
        //background-size : 0px 0px;
        //transition: left 1s cubic-bezier(.52,.01,1,.51);
        transition: all 0.3s cubic-bezier(.52,.01,1,.51);
    }
}

.card__next {
    text-align:center;
    padding-top:15px;
    display:block;
    color:white;
    height : 50px;
    width : 50px;
    /*border : 2px solid white;*/
    box-shadow: 2px 2px 10px #222222;
    border-radius : 50%;
    opacity:1;
    margin:10px auto 0 auto;
    font-weight: bold;
    background-color:#173B4C;
    &:hover {
        transform:scale(1.2,1.2);
        box-shadow: 2px 2px 10px #222222;
        cursor:pointer;
    }
}

.card__clicked {
    border-radius: 10px; 
    padding: 0;

    .card__avatar {
        background-image : url("/moi.jpg");
        background-size: cover;
        margin: 0 auto ;
        height: 170px;
        width: 170px;
        border-radius: 50%;
        top:-85px;
        box-shadow: 2px 2px 10px #222222;
        border: 2px solid #173B4C;
    }

  /*   &:hover{
        transform:scale(1,1);
        .card__avatar {transform:scale(1,1)}
    } */

    .card__content {
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        justify-content: flex-start;
        transform:translateY(-70px);
        opacity:1;
        transition: opacity 0.5s ease;

        .card__mobility {
            text-align: center;
            display: block;
            color:white;
            font-family: 'Zilla Slab', serif;
            margin: 1.2rem 0 0.7rem 0;
            font-weight: bold;
        }
        .card__name {
            display: block;
            color:white;
            flex:1;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: bold;
            font-size:2rem;
            margin: 1rem 0;
        }
        .card__title {
            display: block;
            color:white;
            flex:1;
            font-family: 'Zilla Slab', serif;
            font-size:1.3rem;
            line-height: 1.2rem;
        }
       

        
    }

    .card__tab {
        display:block;
        position:absolute;
        bottom: -50px;
        background-color: white;
        text-align:right;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 2px 2px 10px #222222;
        opacity:1;
        background-size : 40px 40px;
        background-position: center;
        background-repeat: no-repeat;
        width : 50px;
        height: 50px;
        &:hover {
            cursor:pointer;
            filter: invert(1);
            bottom:-55px;
            height:55px;
            transition: all 0.1s cubic-bezier(.52,.01,1,.51);
        };
    }

    
}




















